@import url("normalize.css");

/*! colors*/
:root {
  --accent-color: #37806b;
}

/*! buttons*/
.button {
  background: var(--accent-color);
  border-radius: 20px 0px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 0px;
}

.button-big {
  background: var(--accent-color);
  border-radius: 20px 0px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 13px 20px;
  border: 0px;
}

/*! header*/
.header-container {
  padding-top: 34px;
  margin: 0 auto;
  width: 1346px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-right: 64px;
}

.header-menu__item {
  list-style: none;
  margin-right: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-menu__item:last-child {
  margin-right: 0px;
}

.header-menu__link {
  text-decoration: none;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #646464;
}

.header__button {
  padding: 5px 19px;
  background: #caa892;
  border-radius: 15px 0px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
}

/*! modernInterior*/
.modernInterior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 251px;
  margin-top: 94px;
}

.modernInterior-points {
  margin-top: 582px;
  margin-right: 48.5px;
}

.subtitle {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 12px;
  color: #646464;
  text-transform: uppercase;
}

.modernInterior__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  margin-top: 0px;
  margin-bottom: 23px;
  color: #212121;
}

.modernInterior__text {
  margin-top: 0px;
  margin-bottom: 28px;
  margin-right: 44px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
}

.modernInterior-picture {
  margin-left: 44px;
  padding-bottom: 76.55px;
}

/*! service*/
.service {
  margin-top: 49.45px;
  margin-left: 271px;
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin: 0px;
  color: #212121;
}

.switching {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 292px;
}

.forth {
  width: 30px;
  height: 29px;
  background: #ffffff;
  border-radius: 50px;
  border: black;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  margin-right: 18px;
}

.arrow-forth__img {
  margin-left: 10px;
  margin-top: 10px;
}

.back {
  width: 30px;
  height: 29px;
  background: var(--accent-color);
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.arrow-back__img {
  margin-left: 12px;
  margin-top: 9px;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
}

.service-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  margin-right: 37px;
  padding-top: 40px;
  padding-bottom: 35px;
}

.service-card:nth-child(2) {
  background: #caa892;
}

.service-card:last-child {
  margin-right: 285px;
}

.service-card__img {
  margin-left: 37px;
  margin-right: 20px;
}

.service-card__title {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 8px;

  color: #212121;
}

.service-card__text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;

  letter-spacing: -0.01em;
}

.service-points {
  margin-top: 50px;
  margin-left: 1413px;
}

/*!aboutUs*/
.aboutUs {
  margin-right: 292px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutUs-points {
  margin-top: 832px;
  margin-right: 15.45px;
}

.aboutUs-picture {
  margin-right: 132px;
}

.aboutUs-wrap {
  width: 544px;
  margin-top: 90px;
}

.aboutUs__text {
  margin-top: 22px;
  margin-bottom: 30px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #646464;
}

/*! howMuchWorking*/
.howMuchWorking {
  margin-left: 251px;
  margin-right: 255px;
  padding-bottom: 177px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.howMuchWorking-wrap {
  margin-top: 100px;
}

.howMuchWorking__number {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 288px;
  letter-spacing: -0.01em;

  color: #caa892;
}

.howMuchWorking__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  margin-top: 0px;
  margin-bottom: 20px;
  letter-spacing: 0.04em;

  color: #212121;
}

/*! completedWork*/
.completedWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 87px;
  padding-bottom: 105px;
  background: #f8f8f8;
}

.completedWork__title {
  margin-top: 0px;
  margin-bottom: 87px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  width: 817px;
  text-align: center;

  color: #212121;
}

.completedWorh-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.completedWorh-cart {
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  padding: 47px 0px;
  margin-right: 201px;
}

.completedWorh-cart:last-child {
  margin-right: 0px;
}

.completedWorh-cart:nth-child(even) {
  margin-top: 96px;
}

.completedWorh-cart__title {
  margin: 0px;
  padding: 0px 49px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;

  color: #212121;
}

.completedWorh-cart__text {
  margin: 0px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

/*! testimonials*/
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 163px;
  padding-bottom: 183px;
}

.testimonials-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-switching {
  margin-left: 1551px;
  margin-bottom: 85px;
}

.testimonials-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.testimonials-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
}

.testimonials-card:last-child {
  margin-left: 140px;
}

.testimonials-card__wrap {
  display: flex;
  flex-direction: column;
  padding-left: 102px;
  padding-right: 35px;
  padding-bottom: 60px;
}

.testimonials-card__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
}

.testimonials-card__name {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #212121;
  margin: 0px;
}

.testimonials-card__position {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #646464;
}

.testimonials-card__text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  width: 434px;

  color: #646464;
}

/*! letestNews*/
.letestNews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 93px;
  padding-bottom: 123px;
  background: #f8f8f8;
}

.letestNews-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 82px;
}

.letestNews-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.letestNews-card {
  margin-right: 136px;
}

.letestNews-card:last-child {
  margin-right: 0px;
}

.letestNews__title {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  color: #212121;
  margin-top: 59px;
  margin-bottom: 17px;
}

.letestNews__text {
  font-family: OpenSans;
  width: 595px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
  margin-top: 0px;
  margin-bottom: 45px;
}

/*!singUs*/
.singUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 192px;
  padding-top: 197px;
}

.singUs__line {
  border: 1px solid #c4c4c4;
  width: 461px;
  margin-top: 37px;
  margin-bottom: 40px;
}

.singUs__text {
  margin-top: 0px;
  margin-bottom: 29px;
  width: 647px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;

  color: #646464;
}

/*! footer*/
.footer {
  padding-top: 93px;
  padding-bottom: 22px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-categories {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 69px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  margin-right: 37px;
}

.footer-logo__img {
  width: 151px;
  height: 47px;
}

.footer-logo__text {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 350px;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
}

.footer__title {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;

  color: #212121;
}

.footer__list {
  margin: 0px;
  padding: 0px;
}

.footer__item {
  list-style: none;
  margin-bottom: 5px;
}

.footer__item:last-child {
  margin-bottom: 0px;
}

.footer__link {
  text-decoration: none;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #646464;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer-company {
  margin: 0px 101px;
}

.footer-followUs {
  margin-left: 53px;
}

.footer-line {
  width: 1900px;
  border: 1px solid #c4c4c4;
  margin-bottom: 15px;
}

.siteYear {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #646464;
}
